body {
    font-family: Garamond, Georgia, serif;
}

p {
    text-align : justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

table,td,th {
    border-width: 1px;
    border-color: #006;
    border-style: solid;
    border-collapse: collapse;
    padding: 3px;
}

pre,tt {
    border-width: 1px;
    border-color: #DDD;
    border-style: solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #F8F8F4;
    padding:2px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header {
    text-align: center;
    background: #F2F2E2;
}

#main {
    font-size: 35px;
    text-decoration: none;
    color: #0088FF;
}

#timestamp {
    font-size: 14px;
    text-align: right;
}

#content {
    width: 60%;
    margin-left: 15%;
    border-left-width: 1px;
    border-left-color: #006;
    border-left-style: solid;
    padding-left: 5%;
    border-right-width: 1px;
    border-right-color: #006;
    border-right-style: solid;
    padding-right: 5%;
}

#footer {
    text-align: center;
}
